<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% if (logado) { %>
      <a href="/logout" class="btn btn-danger">Logout</a>
      <a href="/produtos" class="btn btn-primary">Produtos</a>
      <a href="/chat" class="btn btn-primary">Chat</a>

      <% if (user.tipo === 'vendedor') { %>
        <a href="/painelvendedor" class="btn btn-primary">Painel do Vendedor</a>
        <a href="/cadastrarProduto" class="btn btn-primary">Cadastrar Produto</a>
        <p>Bem-vindo, <%= user.nome %>!</p>
        <img src="/imagens/<%= user.fotoPerfil %>" alt="Foto do Vendedor" class="perfil-img" style="width: 50px; height: 50px; border-radius: 50%;">
      <% } else if (user.tipo === 'cliente') { %>
        <a href="/painelcliente" class="btn btn-primary">Painel do Cliente</a>
        <p>Bem-vindo, <%= user.nome %>!</p>
        <img src="/imagens/<%= user.fotoPerfil %>" alt="Foto do Cliente" class="perfil-img" style="width: 50px; height: 50px; border-radius: 50%;">
      <% } %>
    <% } else { %>
      <a href="/login" class="btn btn-primary">Login</a>
      <a href="/cadastro" class="btn btn-primary">Register</a>
      <a href="/produtos" class="btn btn-primary">Produtos</a>
    <% } %>
  </body>
</html>